<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add a student</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <span th:replace="~{component/import :: bootstrap}"></span>
    <span th:replace="~{component/import :: styles('formStudent')}"></span>
</head>
<body class="d-flex min-vh-100 flex-column">

<header th:insert="~{component/header :: header('/add-student')}"></header>

<main class="container flex-grow-1">
    <div class="px-4 py-5 my-5 text-center mx-auto max-w-330px">
        <h1 class="display-6 fw-bold text-body-emphasis mb-5" th:text="${action + ' a student'}"></h1>
        <div class="form-signin w-100 m-auto">
            <form th:action="@{${action.equals('Add') ? '/add-student' : '/update-student'}}" th:object="${student}"
                  method="post" enctype="multipart/form-data">
                <input type="hidden" name="id" th:field="*{id}">
                <div class="form-floating">
                    <input type="text"
                           class="form-control"
                           id="firstName"
                           name="firstName"
                           placeholder="First name"
                           th:field="*{firstName}">
                    <label for="firstName">First name</label>
                    <small class="text-danger" th:if="${#fields.hasErrors('firstName')}"
                           th:errors="*{firstName}"></small>
                </div>
                <div class="form-floating">
                    <input type="text"
                           class="form-control"
                           id="lastName"
                           name="lastName"
                           placeholder="Last name"
                           th:field="*{lastName}">
                    <label for="lastName">Last name</label>
                    <small class="text-danger" th:if="${#fields.hasErrors('lastName')}"
                           th:errors="*{lastName}"></small>
                </div>
                <div class="form-floating">
                    <input type="text"
                           class="form-control"
                           id="email"
                           name="email"
                           placeholder="Email"
                           th:field="*{email}">
                    <label for="email">Email</label>
                    <small class="text-danger" th:if="${#fields.hasErrors('email')}"
                           th:errors="*{email}"></small>
                </div>
                <div class="form-floating">
                    <input type="number"
                           class="form-control"
                           id="age"
                           name="age"
                           placeholder="Age"
                           th:field="*{age}">
                    <label for="age">Age</label>
                    <small class="text-danger" th:if="${#fields.hasErrors('age')}"
                           th:errors="*{age}"></small>
                </div>
                <div class="d-flex justify-content-around my-3">
                    <div class="form-check form-check-inline">
                        <input type="radio"
                               class="form-check-input"
                               id="gender_male"
                               name="gender"
                               value="MALE"
                               th:field="*{gender}">
                        <label class="form-check-label" for="gender_male">Male</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio"
                               class="form-check-input"
                               id="gender_female"
                               name="gender"
                               value="FEMALE"
                               th:field="*{gender}">
                        <label for="gender_female">Female</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio"
                               class="form-check-input"
                               id="gender_other"
                               name="gender"
                               value="OTHER"
                               th:field="*{gender}">
                        <label for="gender_other">Other</label>
                    </div>
                </div>
                <small class="text-danger d-block" th:if="${#fields.hasErrors('gender')}"
                       th:errors="*{gender}"></small>
                <div class="text-start my-3">
                    <label for="image" class="form-label">Photo<span class="text-muted">*</span></label>
                    <input type="file"
                           accept="image/*"
                           class="form-control form-control-sm"
                           id="image"
                           name="image">
                    <p class="text-end">
                        <small class="text-muted">*optional</small>
                    </p>
                </div>

                <button class="btn btn-primary w-100 my-3 py-2" type="submit">Send</button>
            </form>
        </div>
    </div>
</main>

<footer th:insert="~{component/footer :: footer}"></footer>

</body>
</html>