<th:block th:fragment="footer">
    <div class="container">
        <div class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <p class="col-md-4 mb-0 text-body-secondary">© 2024 Tibo, Inc</p>
            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item">
                    <a href="/" class="nav-link px-2 text-body-secondary">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/students" class="nav-link px-2 text-body-secondary">
                        List of students
                    </a>
                </li>
                <li th:if="${session.get('isLoggedIn')}" class="nav-item">
                    <a href="/add-student" class="nav-link px-2 text-body-secondary">
                        Add a student
                    </a>
                </li>
            </ul>
        </div>
    </div>
</th:block>