<th:block th:fragment="header(currentUrl)">
    <div class="p-3 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <img class="img-fluid h-32px" src="/images/logo.png" alt="logo">
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li>
                        <a href="/"
                           class="nav-link px-2"
                           th:classAppend="${currentUrl == '/' ? 'text-secondary' : 'text-white'}">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/students"
                           class="nav-link px-2"
                           th:classAppend=" ${currentUrl== '/students' ? 'text-secondary' : 'text-white'}">
                            List of students
                        </a>
                    </li>
                    <li th:if="${session.get('isLoggedIn')}">
                        <a href="/add-student"
                           class="nav-link px-2"
                           th:classAppend=" ${currentUrl== '/add-student' ? 'text-secondary' : 'text-white'}">
                            Add a student
                        </a>
                    </li>
                </ul>

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3"
                      role="search"
                      action="/search-student"
                      method="get">
                    <input type="search"
                           class="form-control form-control-dark text-bg-dark"
                           placeholder="Search for a student..."
                           name="studentName"
                           aria-label="Search">
                </form>

                <div th:unless="${session.get('isLoggedIn')}" class="text-end">
                    <button type="button" class="btn btn-success" disabled>Sign-up</button>
                    <a th:href="@{/login}" class="btn btn-outline-light me-2">Login</a>
                </div>
                <div th:if="${session.get('isLoggedIn')}" class="text-end">
                    <a th:href="@{/logout}" class="btn btn-danger me-2">Logout</a>
                </div>
            </div>
        </div>
    </div>
</th:block>