<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search for a student</title>
</head>
<body>

<h1>Search for a student</h1>

<p th:if="${students.isEmpty()}">No student found.</p>
<ul th:unless="${students.isEmpty()}" th:each="student : ${students}">
    <li>
        <span th:text="${student.getFirstName() + ' ' + student.getLastName()}"></span>
        (<a th:href="@{/students/{id}(id=${student.getId()})}">voir les détails</a>)
    </li>
</ul>

<a href="/">Home</a>

</body>
</html>